@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
:root {
 --bright-orange: hsl(31, 77%, 52%);
--dark-cyan: hsl(184, 100%, 22%);
--very-dark-cyan: hsl(179, 100%, 13%);
--transparent-white: hsla(0, 0%, 100%, 0.75);
--very-light-gray: hsl(0, 0%, 95%);
--title: 'Big Shoulders Display', cursive;
--paragraph:'Lexend Deca', sans-serif;
}

* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body {
  background-color: var(--very-light-gray);
  min-height: 100vh;
  display: grid;
  place-items:center;
  font-size: 14px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(1,1fr);
  width: 640px;
  margin: 5px 0;
  margin-bottom: 20px;
}

.card {
  padding: 25px;
}

.card-orange {
  background-color: var(--bright-orange);
  border-radius: 10px 0 0 10px;	
}

.card-cyan {
  background-color: var(--dark-cyan);
}

.card-dark-cyan {
  background-color: var(--very-dark-cyan);
  border-radius: 0 10px 10px 0;	
}

.icon {
  width: 54px;
  margin: 10px 2px;
}

.card .title {
   color: var(--very-light-gray);	
  font-family: var(--title);
  font-size: 1.7rem;
  text-transform: uppercase;
  margin:15px 0;
}

.card .paragraph {
  color:var(--transparent-white);	
  font-family: var(--paragraph);
  font-size: 0.7rem;
  line-height: 1.9;
}

.btn {
  cursor: pointer;
  background-color: var(--very-light-gray);
  border: 1px solid var(--very-light-gray);
  margin: 25px 0;
  padding: 10px 20px;
  border-radius: 20px;
}

.btn:hover {
  background-color:transparent;
  color:var(--very-light-gray);
  transition: all ease 1.2s;
}

.btn-1 {
  color:var(--bright-orange);
}

.btn-2 {
  color:var(--dark-cyan);
}

.btn-3 {
  color:var(--very-dark-cyan);
}

.attribution {
  margin-top: 20px; 
  font-size: 11px;
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}

@media (max-width: 500px) {
  .cards {
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-template-rows: repeat(3,1fr);
  width: 300px;
  }

  .card {
  padding: 32px;
  }

  .card-orange {
  background-color: var(--bright-orange);
  border-radius: 10px 10px 0 0;	
  }

  .card-dark-cyan {
  background-color: var(--very-dark-cyan);
  border-radius: 0 0 10px 10px;	
  }

  .card .paragraph {
  font-size: 0.9rem;
  line-height: 1.9;
  }

}